/* geral */

html,
body {
  font-family: "Roboto", sans-serif;
}

@media (min-width: 768px) {
  body {
    padding: 0px;
  }

  .main {
    overflow: hidden;
  }
}

#italic {
  font-style: italic;
}

/* navbar */

#navbar {
  /*background: linear-gradient(to top, #8fbc8f, #33263a);*/
  background: linear-gradient(to top, #251b2a, #33263a);
}

#items {
  margin-left: auto;
}

.nav-link {
  color: #fff !important;
}

.dropdown-menu.show {
  background-color: #251b2a !important;
}

.drop-down02 {
  position: relative;
}

@media (min-width: 990px) {
  .drop-down02 .sub-menu02 {
    position: absolute !important;

    left: 0%;

    top: 116%;
  }

  #problem {
    margin: 0 15px;
  }
}

.drop-down02 .dropdown-toggle {
  padding: 0.25rem 1.1rem !important;
}

@media screen and (max-width: 767px) {
  .drop-down02 .sub-menu02 {
    position: static !important;
  }
}

.navbar-brand img {
  width: 80px;

  position: relative;

  left: 80px;
}

.dropdown-item {
  color: #fff;
}

.dropdown-item:hover {
  background-color: #251b2a;

  color: #fff;
}

/* footer */

.footer {
  height: 200px;
  background-color: #3c2a46;
}

.container-footer {
  display: flex;

  justify-content: space-around;

  flex-wrap: wrap;

  color: #fff;

  background-color: #3c2a46;

  padding: 20px 0;
}

/* left col */

.col-left {
  margin: auto 0;

  text-align: center;

  border-right: 2px #fff;

  max-width: 400px;
}

/*middle col */

.body-col {
  display: flex;

  flex-direction: column;

  align-items: center;

  justify-content: center;
}

.footer-title {
  margin: 5px 0;
}

.footer-subtitle {
  margin: 5px 0;
}

.text-footer {
  margin: 5px 0;
}

.text-email {
  margin: 5px 0;
}

.divider-area-footer {
  width: 100px;

  height: 2px;

  background-color: #fff;

  margin-bottom: 5px;
}

/*right col*/

.copyright-footer {
  color: #fff;

  font-size: 14px;

  margin-top: 10px;
}

.col-right {
  display: flex;

  flex-direction: column;

  margin: auto 0;

  text-align: center;

  font-size: 14px;

  max-width: 300px;
}

/* mobile */

@media (max-width: 575px) {
  .navbar-brand img {
    left: 0;

    width: 70px;
  }

  #navbar {
    padding: 10px !important;
  }

  iframe {
    max-width: 370px;

    height: 400px;
  }

  .title-agenda {
    padding: 0 !important;

    margin-bottom: 1rem;
  }
}

@media (min-device-width: 320px) and (max-device-width: 374px) {
  iframe {
    max-width: 300px !important;

    height: 400px;
  }
}

@media (min-device-width: 375px) and (max-device-width: 424px) {
  iframe {
    max-width: 350px !important;

    height: 400px;
  }
}

@media (max-width: 425px) {
  iframe {
    max-width: 400px;

    height: 400px !important;
  }
}

@media (min-device-width: 768px) and (max-device-width: 900px) {
  iframe {
    max-width: 700px;
  }
}

/* footer */

@media (max-width: 575px) {
  .col-mid,
  .col-right,
  .col-left {
    margin-top: 1rem;

    font-size: 14px;

    text-align: center;

    padding: 0 20px;
  }
}

@media (max-width: 768px) {
  .col-mid,
  .col-right,
  .col-left {
    margin-top: 1rem;
  }
}

@media (min-device-width: 600px) and (max-device-width: 767px) {
  .container-footer {
    margin-top: 40px;
  }
}
