/* geral */

html {
  scroll-behavior: smooth;
}

html,
body {
  font-family: "Roboto", sans-serif;
}

@media (min-width: 768px) {
  body {
    padding: 0px;
  }

  .main {
    overflow: hidden;
  }
}

#italic {
  font-style: italic;
}

/* navbar */

#navbar {
  /*background: linear-gradient(to top, #8FBC8F, #33263a);*/
  background: linear-gradient(to top, #251b2a, #33263a);
}

#items {
  margin-left: auto;
}

.nav-link {
  color: #fff !important;
}

.dropdown-menu.show {
  background-color: #251b2a !important;
}

.drop-down02 {
  position: relative;
}

@media (min-width: 990px) {
  .drop-down02 .sub-menu02 {
    position: absolute !important;

    left: 0%;

    top: 116%;
  }

  #problem {
    margin: 0 15px;
  }
}

.drop-down02 .dropdown-toggle {
  padding: 0.25rem 1.1rem !important;
}

@media screen and (max-width: 767px) {
  .drop-down02 .sub-menu02 {
    position: static !important;
  }
}

.navbar-brand img {
  width: 80px;

  position: relative;

  left: 80px;
}

.dropdown-item {
  color: #fff;
}

.dropdown-item:hover {
  background-color: #251b2a;

  color: #fff;
}

/* main */

.main {
  display: flex;

  flex-direction: row;

  align-items: center;

  background-color: rgb(251, 251, 251);

  padding: 3rem 0;
}

.content {
  width: 70%;
}

.primary-content {
  display: flex;

  flex-direction: row;
}

.recomendations-oms {
  width: 80%;

  padding: 10px;

  margin-left: auto;

  margin-right: auto;

  text-align: center;

  font-size: 24px;

  font-weight: 500;

  color: #4a474b;

  font-style: italic;
}

.top-title {
  font-size: 34px;

  font-weight: 500;

  padding-top: 2rem;

  text-align: center;
}

.paragraph {
  margin: 0 auto;

  font-size: 1.2rem;

  max-width: 90%;

  margin-top: 20px;

  font-weight: 500;
}

/* galeria */

.title-gallery {
  font-size: 1.5rem;
}

.content-gallery-top {
  display: flex;

  width: 100%;

  flex-wrap: wrap;
}

.photo1 {
  background-image: url(../img/foto1.jpg);

  background-position: center;

  background-repeat: no-repeat;

  background-size: cover;

  border-radius: 10px;

  width: 200px;

  height: 200px;

  margin-top: 10px;

  margin-left: auto;

  margin-right: auto;
}

.photo2 {
  background-image: url(../img/foto2.jpg);

  background-position: center;

  background-repeat: no-repeat;

  background-size: cover;

  border-radius: 10px;

  width: 200px;

  height: 200px;

  margin-top: 10px;

  margin-left: auto;

  margin-right: auto;
}

.photo3 {
  background-image: url(../img/foto3.jpg);

  background-position: center;

  background-repeat: no-repeat;

  background-size: cover;

  border-radius: 10px;

  width: 200px;

  height: 200px;

  margin-top: 10px;

  margin-left: auto;

  margin-right: auto;
}

.photo4 {
  background-image: url(../img/foto4.jpg);

  background-position: center;

  background-repeat: no-repeat;

  background-size: cover;

  border-radius: 10px;

  width: 200px;

  height: 200px;

  margin-top: 10px;

  margin-left: auto;

  margin-right: auto;
}

.photo5 {
  background-image: url(../img/foto5.jpg);

  background-position: center;

  background-repeat: no-repeat;

  background-size: cover;

  border-radius: 10px;

  width: 200px;

  height: 300px;

  margin-top: 10px;

  margin-left: auto;

  margin-right: auto;
}

.photo6 {
  background-image: url(../img/foto6.jpg);

  background-position: center;

  background-repeat: no-repeat;

  background-size: cover;

  border-radius: 10px;

  width: 200px;

  height: 300px;

  margin-top: 10px;

  margin-left: auto;

  margin-right: auto;
}

.photo7 {
  background-image: url(../img/foto7.jpg);

  background-position: center;

  background-repeat: no-repeat;

  background-size: cover;

  border-radius: 10px;

  width: 200px;

  height: 300px;

  margin-top: 10px;

  margin-left: auto;

  margin-right: auto;
}

.photo8 {
  background-image: url(../img/foto8.jpg);

  background-position: center;

  background-repeat: no-repeat;

  background-size: cover;

  border-radius: 10px;

  width: 200px;

  height: 300px;

  margin-top: 10px;

  margin-left: auto;

  margin-right: auto;
}

.content-gallery-middle {
  display: flex;

  justify-content: space-around;

  padding-top: 0px;

  flex-wrap: wrap;
}

.content-gallery-bottom {
  display: flex;

  justify-content: space-around;

  padding-top: 0px;

  flex-wrap: wrap;
}

.photo9 {
  background-image: url(../img/foto9.jpg);

  background-position: center;

  background-repeat: no-repeat;

  background-size: cover;

  border-radius: 10px;

  width: 450px;

  height: 250px;

  margin-top: 10px;

  margin-left: auto;

  margin-right: auto;
}

.photo10 {
  background-image: url(../img/foto10.jpg);

  background-position: center;

  background-repeat: no-repeat;

  background-size: cover;

  border-radius: 10px;

  width: 450px;

  height: 250px;

  margin-top: 10px;

  margin-left: auto;

  margin-right: auto;
}

/* aside */

.divider-area {
  flex-direction: column;

  align-items: center;

  max-width: 300px;

  margin-left: 10px;
}

.event-title {
  padding-top: 40px;

  font-size: 20px;

  font-style: oblique;
}

.event-sub-title {
  font-size: 14px;

  font-style: oblique;

  text-align: center;

  padding-bottom: 10px;
}

.events-area {
  height: 100%;

  width: 100%;

  border: 1px solid #929292b7;
}

.event-card {
  width: 100%;

  padding: 40px 0;

  transition: 0.8s;
}

.event-card:hover {
  transform: scale(1.1);
}

.title-cards-events {
  font-size: 20px;

  text-align: center;
}

.img-events-card img {
  width: 100%;

  height: 240px;

  display: block;

  margin-left: auto;

  margin-right: auto;

  box-shadow: 1px 6px 50px 0px rgba(74, 74, 74, 0.52);
}

/*  footer  */

.footer {
  height: 200px;
}

.container-footer {
  display: flex;

  justify-content: space-around;

  flex-wrap: wrap;

  color: #fff;

  background-color: #3c2a46;

  padding: 20px 0;
}

/* left col */

.col-left {
  margin: auto 0;

  text-align: center;

  border-right: 2px #fff;

  max-width: 400px;
}

/*middle col */

.body-col {
  display: flex;

  flex-direction: column;

  align-items: center;

  justify-content: center;
}

.footer-title {
  margin: 5px 0;
}

.footer-subtitle {
  margin: 5px 0;
}

.text-footer {
  margin: 5px 0;
}

.text-email {
  margin: 5px 0;
}

.divider-area-footer {
  width: 100px;

  height: 2px;

  background-color: #fff;

  margin-bottom: 5px;
}

/*right col*/

.copyright-footer {
  color: #fff;

  font-size: 14px;

  margin-top: 10px;
}

.col-right {
  display: flex;

  flex-direction: column;

  margin: auto 0;

  text-align: center;

  font-size: 14px;

  max-width: 300px;
}

/* scroll top */

#scroll {
  position: fixed;

  background-color: #251b2a;

  width: 40px;

  height: 40px;

  border-radius: 10px;

  display: flex;

  align-items: center;

  justify-content: center;

  bottom: 100px;

  right: 30px;
}

#scroll img {
  width: 40px;

  height: 40px;
}

/* mobile */

@media (max-width: 1024px) {
  .content-gallery-top {
    flex-wrap: nowrap;
  }

  .photo1,
  .photo2,
  .photo3,
  .photo4 {
    margin: 0 10px;
  }

  .content-gallery-middle {
    flex-wrap: nowrap;
  }

  .photo5,
  .photo6,
  .photo7,
  .photo8 {
    margin: 10px 10px;
  }

  .photo9,
  .photo10 {
    width: 350px;
  }
}

@media (max-width: 575px) {
  .main {
    padding: 2rem 0.5rem;
  }

  .content {
    width: 100%;
  }

  #navbar {
    padding: 10px !important;
  }

  .navbar-brand img {
    left: 0;

    width: 70px;
  }

  .recomendations-oms {
    width: 100%;

    text-align: center;
  }

  .top-title {
    text-align: center;

    padding-left: 0;
  }

  #dropbar {
    background-color: #251b2a;

    border: none;
  }

  .content-texts {
    text-align: center;
  }

  .content-gallery-top {
    flex-wrap: nowrap !important;

    justify-content: center;
  }

  .content-gallery-middle {
    flex-wrap: nowrap !important;

    justify-content: center;
  }

  .photo1,
  .photo2,
  .photo3,
  .photo4 {
    width: 130px;

    height: 130px;

    margin: 0 !important;
  }

  .photo1,
  .photo2,
  .photo3,
  .photo4 {
    margin-right: 4px !important;

    margin-bottom: 10px !important;
  }

  .photo5,
  .photo6,
  .photo7,
  .photo8 {
    width: 130px;

    margin: 0 !important;

    margin-right: 4px !important;
  }

  .photo9,
  .photo10 {
    width: 80%;
  }
}

@media (max-width: 375px) {
  .photo1,
  .photo2,
  .photo3,
  .photo4 {
    width: 150px !important;

    height: 150px !important;

    margin: 0 !important;
  }

  .photo1,
  .photo3 {
    margin-right: 4px !important;
  }

  .photo3,
  .photo4 {
    margin-top: 10px !important;
  }

  .photo5,
  .photo6,
  .photo7,
  .photo8 {
    width: 140px !important;
  }

  .photo5,
  .photo6,
  .photo7,
  .photo8 {
    margin: 0 !important;

    margin-top: 10px !important;
  }

  .photo5,
  .photo7 {
    margin-right: 13px !important;
  }

  .photo9,
  .photo10 {
    width: 90%;
  }
}

@media screen and (min-device-width: 425px) and (max-device-width: 460px) {
  .photo1,
  .photo2,
  .photo3,
  .photo4 {
    width: 150px !important;

    height: 150px !important;

    margin: 0 !important;
  }

  .photo1,
  .photo3 {
    margin-right: 4px !important;
  }

  .photo3,
  .photo4 {
    margin-top: 10px !important;
  }

  .photo5,
  .photo6,
  .photo7,
  .photo8 {
    width: 140px !important;
  }

  .photo5,
  .photo6,
  .photo7,
  .photo8 {
    margin: 0 !important;

    margin-top: 10px !important;
  }

  .photo5,
  .photo7 {
    margin-right: 13px !important;
  }
}

@media screen and (min-device-width: 461px) and (max-device-width: 574px) {
  .content-gallery-top {
    flex-wrap: wrap !important;
  }

  .content-gallery-middle {
    flex-wrap: wrap !important;
  }
}

@media (max-width: 768px) {
  body {
    padding: 0;
  }

  .navbar-brand img {
    left: 0;
  }

  .recomendations-oms {
    max-width: 100%;

    text-align: center;

    padding: 10px 10px;
  }

  .top-title {
    text-align: center;

    padding-left: 0;
  }

  #dropbar {
    background-color: #251b2a;

    border: none;
  }

  .content-gallery-top {
    flex-wrap: wrap !important;

    justify-content: center;
  }

  .content-gallery-middle {
    flex-wrap: wrap !important;

    justify-content: center;
  }

  .photo1,
  .photo2,
  .photo3,
  .photo4 {
    margin: 10px 10px;
  }
}

@media (max-width: 800px) {
  body {
    padding: 0;
  }

  .navbar-brand img {
    left: 0;
  }

  .recomendations-oms {
    max-width: 100%;

    text-align: center;

    padding: 10px 10px;
  }

  .top-title {
    text-align: center;

    padding-left: 0;
  }

  #dropbar {
    background-color: #251b2a;

    border: none;
  }

  .content-gallery-top {
    flex-wrap: wrap !important;

    justify-content: center;
  }

  .content-gallery-middle {
    flex-wrap: wrap !important;

    justify-content: center;
  }

  .photo1,
  .photo2,
  .photo3,
  .photo4 {
    margin: 10px 10px;
  }
}

@media screen and (min-device-width: 100px) and (max-device-width: 767px) {
  .primary-content {
    flex-wrap: wrap;
  }

  .divider-area {
    margin: 0 auto;
  }
}

@media (min-device-width: 600px) and (max-device-width: 767px) {
  body {
    padding: 0;
  }

  .navbar-brand img {
    left: 0;
  }

  .recomendations-oms {
    max-width: 100%;

    text-align: center;

    padding: 10px 10px;
  }

  .top-title {
    text-align: center;

    padding-left: 0;
  }

  #dropbar {
    background-color: #251b2a;

    border: none;
  }

  .content-gallery-top {
    flex-wrap: wrap !important;

    justify-content: center;
  }

  .content-gallery-middle {
    flex-wrap: wrap !important;

    justify-content: center;
  }

  .photo1,
  .photo2,
  .photo3,
  .photo4 {
    margin: 10px 10px;
  }

  .divider-area {
    display: initial !important;

    width: 50%;
  }

  .content-gallery-top {
    flex-wrap: wrap !important;

    justify-content: center;
  }

  .content-gallery-middle {
    flex-wrap: wrap !important;

    justify-content: center;
  }

  .photo1,
  .photo2,
  .photo3,
  .photo4 {
    margin: 10px 10px;
  }
}

@media (max-width: 575px) {
  .col-mid,
  .col-right,
  .col-left {
    margin-top: 1rem;

    font-size: 14px;

    text-align: center;

    padding: 0 20px;
  }
}

@media (max-width: 768px) {
  .col-mid,
  .col-right,
  .col-left {
    margin-top: 1rem;
  }
}

@media (min-device-width: 600px) and (max-device-width: 767px) {
  .container-footer {
    margin-top: 40px;
  }
}

@media (max-width: 900px) {
  #scroll {
    right: 0;
  }
}

@media (min-device-width: 992px) and (max-device-width: 1200px) {
  #problem {
    margin: 0 15px;
  }

  .navbar-brand img {
    left: 0 !important;
  }
}
